<section class="image">
  <div class="container">
		<h1>Bienvenue sur votre site de réservation de mariage</h1>
<p>Nous sommes ravis de vous accueillir sur notre plateforme de réservation de date de mariage.</p>
    <form>
      <div class="form-row">
        <div class="col-md-12">
          <label for="recherche">Pour effectuer une recherche!</label><br>
          <button type="submit" class="btn btn-primary" routerLink="/recherche">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>

